---
name: E2E Tests

"on":
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: aqua-installer
        uses: ./.github/composites/aqua-installer

      - name: Run E2E tests (docker-compose)
        run: task e2e:run

      - name: Cleanup
        if: always()
        run: task e2e:down
